<div class="dialog-content-wrapper">


    <div mat-dialog-content class="p-0 m-0">

        <div class="black-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                      <mat-icon class="secondary-text">search</mat-icon>
                  </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

        </div>

        <div class="content-card mat-white-bg">
            <div class="toolbar px-24 py-8">
                <div class="mail-selection" fxFlex="row" fxLayoutAlign="start center">
                    <button mat-button [matMenuTriggerFor]="selectMenu" class="text-capitalize">
                          {{selectedCategory ? selectedCategory + ' Users' : 'Select Category'}}
                          <mat-icon>arrow_drop_down</mat-icon>
                      </button>
                    <mat-menu #selectMenu="matMenu">
                        <button mat-menu-item class="text-capitalize" *ngFor="let category of categories" (click)="filterByCategory(category)">{{category}} Users</button>
                    </mat-menu>

                    <div fxFlex="row" fxLayoutAlign="end center" *ngIf="!selection.isEmpty()">
                        <div class="toolbar-separator"></div>
                        <!-- <button mat-button (click)="unBlockSelected()">
                              <mat-icon>check</mat-icon>
                              Unblock
                          </button> -->

                        <button mat-button (click)="addSelected()" class="mat-blue-bg">
                              <mat-icon class="white-icon">add</mat-icon>
                              Add
                          </button>
                    </div>
                </div>
            </div>

            <mat-table class="users-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

                <ng-container cdkColumnDef="checkbox">
                    <mat-header-cell *cdkHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(user) : null" [checked]="selection.isSelected(user)"></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="photo">
                    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <img class="avatar" [src]="user.photo || 'assets/images/avatars/profile.jpg'" />
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" fxShow.gt-xs>
                        <p class="text-truncate font-weight-600"> {{user.name}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="phone">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxShow.gt-xs>Phone</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" fxShow.gt-xs>
                        <p class="phone text-truncate"> {{user.phone}} </p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="location">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxShow.gt-xs>Location</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" fxShow.gt-xs>
                        <p class="email text-truncate"> {{user.location.name}} </p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="status">
                    <mat-header-cell *cdkHeaderCellDef fxLayoutAlign="end center">Status</mat-header-cell>
                    <mat-cell *cdkCellDef="let user">

                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button (click)="$event.stopPropagation();toggleStar(user.userId)" aria-label="Toggle star">
                                  <mat-icon *ngIf="user.status==userStatus.NORMAL">mood</mat-icon>
                                  <mat-icon *ngIf="user.status==userStatus.NEED_HELP">add_alert</mat-icon>
                              </button>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let user; columns: displayedColumns;" class="user" matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
    </div>
</div>