<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/RapidAssist logo.png">
        </div>

        <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to RapidAssist
        </div>

        <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            RapidAssist enables an organization, family and friends to locate, 
            track and communicate with people they care about through a single system in an emergency.
        </div>

    </div>

  <div id="forgot-password-form-wrapper" fusePerfectScrollbar
       [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

      <div id="forgot-password-form">

          <div class="logo" fxHide.gt-xs>
            <img src="assets/images/logos/logo-black.png">
          </div>

          <div class="title">RECOVER YOUR PASSWORD</div>

          <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

              <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                      Email is required
                  </mat-error>
                  <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                      Please enter a valid email address
                  </mat-error>
              </mat-form-field>

              <button mat-raised-button class="submit-button" color="accent"
                      aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid"
                      (click)="onSendResetLink()">
                  SEND RESET LINK
              </button>

          </form>

          <div class="login" fxLayout="row" fxLayoutAlign="center center">
              <a class="link" [routerLink]="'/login'">Go back to login</a>
          </div>

      </div>
  </div>
</div>