#coordinator {
  .header {
    .coordinator-image {
      overflow: hidden;
      width: 56px;
      height: 56px;
      border: 3px solid rgba(0, 0, 0, 0.12);
      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
    .subtitle {
      margin: 6px 0 0 0;
    }
  }
  .content {
    .green-icon {
      color: green;
    }
    .red-icon {
      color: red;
    }
    .mat-tab-group,
    .mat-tab-body-wrapper,
    .tab-content {
      flex: 1 1 auto;
      max-width: 100%;
    }
    .mat-tab-body-content {
      display: flex;
    }
    .mat-tab-label {
      height: 64px;
    }
    .coordinator-image {
      overflow: hidden;
      width: 128px;
      height: 128px;
      margin-right: 16px;
      margin-bottom: 16px;
      border: 3px solid rgba(0, 0, 0, 0.12);
      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
  }
}
