@import "src/@fuse/scss/fuse";

:host {
  display: flex;
  flex: 1;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.6) 20%,
    rgba(255, 255, 255, 0.8)
  );

  .big-circle {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.6) 20%,
      rgba(255, 255, 255, 0.8)
    );
    border-radius: 50%;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;

    @include media-breakpoint-down("sm") {
      width: 160px;
      height: 160px;
      line-height: 160px;
    }

    mat-icon {
      color: mat-color($accent);
    }
  }

  .app-title {
    font-weight: 500;
    font-size: 32px;
  }

  .secondary-text {
    font-size: 16px;
  }
}
