@import "src/@fuse/scss/fuse";

:host {
    display: flex;
    flex: 1;
    flex-direction: column;

    mat-toolbar {
        background-color: mat-color($accent);
        color: map-get($accent, default-contrast);

        .toolbar-bottom {
            height: 240px;

            @include media-breakpoint-down(md) {
                height: 180px;
            }
        }

    }

    .sidenav-content {
        background: whitesmoke;
    }
}
